<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.userfeeds.widget.test">

    <application>

        <activity android:name="io.userfeeds.widget.StaticTestActivity"/>
        <activity android:name="io.userfeeds.widget.DynamicTestActivity"/>
        <activity android:name="io.userfeeds.widget.RecyclerViewTestActivity"/>

    </application>

</manifest>
